body{
	background-color: rgb(18, 18, 18);
}

.container-fluid{
	padding: 0px;
}




/* 顶部导航栏 */

.navbar-inverse{
	background-color: rgb(42, 42, 42);
	padding: 0px;
	margin: 0px;
	border: 0px;	
}

.navbar-brand{
	padding: 0px;
}

.navbar-brand-epiclogo{
	height: 40px;
	margin-top: 5px;
	margin-left: 22px;
}

.navbar-btn-getLuncher{
	border: 0px;
	border-radius: 0px;
	height: 50px;
	width: 128px;
	background-color: rgb(0, 120, 242);
	font-size: 10px;
}

.navbar-btn-getLuncher:hover{
	background-color: rgb(0, 125, 252);
}




/* 固定导航栏 */

.navbar-sec{
	background-color: rgb(18, 18, 18);
	padding: 0px;
	margin: 0px;
	border: 0px;
	width: 100%;
	margin-top: -1px;
	position: sticky;
	z-index: 2;
}

.navbar-sec-exp >a:hover{
	color: rgb(255, 255, 255);
}

.navbar-sec-src{
	background-color: rgb(42, 42, 42);
	border: 0px;
	border-radius: 25px;
}





/* 愿望清单 */

.wishlist h1{
	color: rgb(254, 254, 254);
}

.filler h5{
	color: rgb(254, 254, 254);
}

.wishlist h5{
	color: rgb(245, 245, 245);
	width: 100%;
}

.wishlist input{
	margin-top: 10px;
	float: left;
}

.wishgame .bg{
	background-color: rgb(32, 32, 32);
	border: 0px;
	border-radius: 5px;
	margin-top: 20px;
}

.wishgame .bg:hover{
	background-color: rgb(55, 55, 55);
	
}

.thumbnail{
	border: 0px;
	background-color: rgba(0, 0, 0, 0);
}

.wishgame p{
	color: rgb(254, 254, 254);
}

.wishgame h3{
	color: rgb(254, 254, 254);
}

#dropdownMenu1{
	border: 0px;
	background-color: rgb(18, 18, 18);
	color: white;
}

#dropdownMenu1 li{
	background-color: rgb(18, 18, 18);
}




/* 页脚CSS */

.footerlinks{
	margin: 0 auto;
}

.socialmedia ul{
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
	margin-left: -30px;
}

.socialmedia ul li{
	margin: 10px;
	padding: 0px;
}

.socialmedia ul li span{
	font-size: 28px;
	color: rgb(204, 204, 204);
}

.uptotop a span{
	float: right;
	color: rgb(204, 204, 204); 
	font-size: 28px;
}

.policy ul{
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
}

.footerlinks ul li{
	list-style: none;
}


.footerlinks ul li a{
	display: block;
	width: 100%;
	height: 100%;
	line-height: 25px;
	text-decoration: none;
	color: white;
}

.logos a{
	text-decoration: none;
	color: rgb(204, 204, 204);
	float: right;
	margin: 10px;
}

.logos a span{
	font-size: 28px;
}

.copyright p{
	color: rgb(245, 245, 245);
}

.socialmedia span:hover{
	color: rgb(0, 120, 242);
}

.logos span:hover{
	color: rgb(237, 237, 237);
}

.uptotop span:hover{
	color: rgb(0, 120, 242);
}

.footerlinks ul li a:hover{
	color: rgb(0, 120, 242);
}
